.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 10px 5px 10px 10px;

    .logo {
      height: 64px;
      width: 64px;
    }
  
    .balance {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 10px;
    }

    .tonLogo {
      height: 20px;
      width: 20px;
    }

}