.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-top: 10px;


    .logo {
      margin-left: 10px;
      height: 42px;
    }

    .ton {
      margin-right: 10px;  
    }

    .balance {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 5px;
    }

    .tonLogo {
      height: 20px;
      width: 20px;
    }

}