.homepage {
    width: 95%;
    margin: 0 auto;

    .selectionCharts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    h4 {
        margin-top: 0;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}
