.homepage {
    width: 95%;
    margin: 0 auto;

    .selectionCharts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    h4 {
        margin-top: 0;
    }

    .live {
        .last {
            margin-bottom: 20px;

            h5 {
                margin: 0;
                color: #D4AF37;
                font-size: 1rem;
            }

            .price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 230px;
            }
        
            .positive, .negative {
                padding: 5px 10px;
                border-radius: 5px;
                color: white;
            }
        
            .positive {
                background-color: #4CAF50;
            }
              
            .negative {
                background-color: #F44336;
            }
        }
    
        .locked {
            span {
                color: #D4AF37;
            }
        }
    }

    .side {
        .form {
            max-width: 350px;
            margin: auto;

            .buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
