.homepage {
    width: 95%;
    margin: 0 auto;

    .selectionCharts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    h4 {
        margin-top: 0;
    }

    h5 {
        margin: 0;
        color: #D4AF37;
        font-size: 1rem;
    }

    .live {
        .last {
            margin-bottom: 20px;

            .price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 230px;
            }
        
            .positive, .negative {
                padding: 5px 10px;
                border-radius: 5px;
                color: white;
            }
        
            .positive {
                background-color: #4CAF50;
            }
              
            .negative {
                background-color: #F44336;
            }
        }
    
        .locked {
            span {
                color: #D4AF37;
            }
        }
    }

    .side {
        .form {
            max-width: 350px;
            margin: auto;

            .inputPool {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                .input {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    background: black;
                    height: 50px;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    width: 150px;
                    padding: 0px 10px;

                    input {
                        font-size: 1rem;
                        border: none;
                        width: 100px;
                        text-align: end;
                        background-color: transparent;
                    }

                    .tonLogo {
                        width: 24px;
                        height: 24px;
                    }
                }

                .pool {
                    text-align: center;
                    margin: auto;

                    .amount {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        .tonLogo {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;

                .button {
                    width: 100%;
                    button {
                        margin-bottom: 5px;
                    }
                    .payout {
                        text-align: center;
                        span {
                            font-weight: bold;
                            color: #D4AF37;
                        }
                    }
                }
            }
        }
    }
}
